<form class="text-center" action="/add" method="POST">
    <input type="text" name="nome" placeholder="nome">
    <input type="text" name="estoque" placeholder="estoque">
    <button type="submit">Cadastrar</button>
</form>