<form class="text-center" action="/update2/{{id}}" method="POST">
    <input type="text" name="nome" placeholder="nome" value="{{nome}}">
    <input type="text" name="estoque" placeholder="estoque" value="{{estoque}}">
    <button type="submit">Atualizar</button>
</form>